<h2>Using ngFor</h2>
<ul *ngFor = "let course of courses ">
<h2 *ngIf="course.type=='frontend'" [style.color]="gcolor">
    Name:{{course.courseName}}<br>
    Type:{{course.type}}<br>
    Cost:{{course.cost}}<br>
    Medium:{{course.medium}}</h2>
<h2 *ngIf="course.type=='backend'" [style.color]="'blue'">
    Name:{{course.courseName}}<br>
    Type:{{course.type}}<br>
    Cost:{{course.cost}}<br>
    Medium:{{course.medium}}</h2>
<h2 *ngIf="course.type=='testing'" [style.color]="'red'">

    Name:{{course.courseName}}<br>
    Type:{{course.type}}<br>
    Cost:{{course.cost}}<br>
    Medium:{{course.medium}}</h2>

</ul>
